{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}CV{% endblock %}

{% block content %}
<div class="container" >
    <div class="page-header text-center">
        <h1 id="timeline"><span class="glyphicon glyphicon-briefcase"></span> Expériences Professionnelles</h1>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="" id="" data-original-title="20 Janvier 2014 - 7 Mars 2014" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive logoCv" src="images/logo-lyon2.jpg">
                </div>
                <div class="timeline-body">
                    <p class="text-justify">&nbsp; &nbsp; &nbsp;J'ai éffectué mon stage de 2e année de BTS SIO option SLAM d'une durée de 7semaines à la <a href="http://www.univ-lyon2.fr/" target="_blank">DSI université Lyon 2</a> 
                        <br>
                        L'université lyon 2 souhaite moderniser sa gestion des processus (ex : demande de congés) pour cela la DSi de l'université à mis en place un outil de gestion de processus.<br>
                        J'ai du améliorer l'interface utilisateur de cet outil: interface épurée et adaptative(utilisation du framework css bootstrap).
                        Mise en place d'une base de données(SQLITE).
                    </p>

                </div>

                <div class="timeline-footer">
                    Développeur Web | Janvier 2014 - Mars 2014
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="" id="" data-original-title="20 Mai 2013 - 21 Juin 2013" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive logoCv" src="images/linkimedia.jpg">
                </div>
                <div class="timeline-body">
                    <p class="text-justify">&nbsp; &nbsp; &nbsp;J'ai réaliser mon stage de 1ere année de BTS SIO option SLAM d'une durée de 5 semaines dans l'agence web <a href="http://www.linkimedia.fr/" target="_blank">Linkimedia</a> située à Vienne.<br>
                        Suite à la volonté d'un client de présenter son site internet contenant des annimations flash sur ipad(flash et ipdad non compatible), j'ai du modifier celui-ci sans perdre le contenu qu'apportent ces annimations flash.
                        Utilisation d'un script php et de librairies jQuery.
                    </p>

                </div>

                <div class="timeline-footer">
                    Développeur Web | Mai 2013 - Juin 2013
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="" id="" data-original-title="Fevrier 2013 - Mai 2013" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive logoCv" src="images/cinéma.jpg">
                </div>
                <div class="timeline-body">
                    <p class="text-justify">&nbsp; &nbsp; &nbsp;Création d'un site e-commerce de vente de places de cinéma en groupe de deux durant ma formation.<br>
                        Utilisation d'un framework MVC, PDO, POO et utilisation du framework bootstrap. 
                    </p>

                </div>

                <div class="timeline-footer">
                    Développeur web| Fevrier 2013 - Mai 2013
                </div>
            </div>
        </li>
        <li class="clearfix" style="float: none;"></li>
    </ul>
    <div class="page-header"></div>

    <div class="page-header text-center">
        <h1 id="timeline"><span class="glyphicon glyphicon-cog"></span> Compétences</h1>
    </div>


    <div class="span6">
        <strong>HTML</strong><span class="pull-right"></span>
        <div class="progress progress-html progress-striped active">
            <div class="bar" style="width: 90%;"></div>
        </div>
        <strong>CSS</strong><span class="pull-right"></span>
        <div class="progress progress-css progress-striped active">
            <div class="bar" style="width: 80%;"></div>
        </div>
        <strong>PHP</strong><span class="pull-right"></span>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 65%;"></div>
        </div>
        <strong>C#</strong><span class="pull-right"></span>
        <div class="progress progress-c progress-striped active">
            <div class="bar" style="width: 35%;"></div>
        </div>
        <strong>Java</strong><span class="pull-right"></span>
        <div class="progress progress-java progress-striped active">
            <div class="bar" style="width: 30%;"></div>
        </div>
        <strong>Android</strong><span class="pull-right"></span>
        <div class="progress progress-android progress-striped active">
            <div class="bar" style="width: 10%;"></div>
        </div>
    </div>

    <div class="page-header"></div>

    <div class="page-header text-center">
        <h1 id="timeline"><span class="glyphicon glyphicon-book"></span> Formations</h1>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->


        <!-- Table -->
        <table class="table">
            <tbody><tr>
                    <td rowspan="3">
                        Septembre 2015 - Septembre 2017
                    </td>
                    <td>
                        Titre ASI - Administrateur du Système d'information, filière Développeur Web (bac+4) - IP
                        FORMATION LYON
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;- Spécialité : Développeur PHP/MySQL
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;- Ip-formation - 69100 Villeurbanne
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        Septembre 2012 - Juin 2014
                    </td>
                    <td>
                        Brevet Technicien Supérieur
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;- Service informatique aux organisations (option Solutions Logicielles et Applications Métiers)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;- Lycée La Martinière-Duchère - 69338 Lyon
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        Septembre 2011 - Juin 2012
                    </td>
                    <td>
                        1ère année licence mathématique-informatique
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;- Université Claude Bernard Lyon1  – 69100 Villeurbanne
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">
                        Septembre 2010 - Juin 2011
                    </td>
                    <td>
                        Baccalauréat Scientifique option SVT (science de la vie et de la terre)
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;-Spécialité : Physique-chimie
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;- Lycée Edouard Herriot  – 69006 Lyon
                    </td>
                </tr>
            </tbody></table>
    </div>

</div>
{% endblock %}